<% layout("./layouts/boilerplate") %>
<script>
  const mapToken ="<%= process.env.Map_TOKEN %>";
  const data = JSON.parse('<%- JSON.stringify(data)%>');
  // const coordinates = JSON.parse("<- JSON.stringify(data.geometry.coordinates) %>");
 
</script>

<!-- <div>
  <h3><%= data.title%></h3>
  <ul>
    <li><%= data.description %></li>

    <li>&#x20B9;< data.price.toLocaleString("en-IN") %></li>
    <li><%= data.location %></li>
    <li><%= data.country %></li>
    <form action="" method="get">
      <button>edit Listing</button>
    </form>
    <form action="" method="post">
      <button>delete listing</button>
    </form>
  </ul>
</div> -->

<div class="listing-card row mt-2 card">
  <div class="col-4">
    <h3><%= data.title %></h3>
    <img src="<%= data.image.url%>" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p> <i>owned by </i> <%= data.owner.username%></p>
      <p class="card-text"><%= data.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        &#x20B9;<%= data.price %>
        <!-- &#x20B9;< data.price.toLocaleString("en-IN") %> -->
      </li>
      <li class="list-group-item"><%= data.location %></li>

      <li class="list-group-item"><%= data.country %></li>
    </ul>

    <% if(currUser && data.owner._id.equals(currUser._id)) {%>
    
    <div class="row">
      <div class="mt-2 col-md-4">
        <form action="/listings/<%= id %>/editform" method="get">
          <button class="btn add_btn">Edit</button>
        </form>
      </div>
      <div class="mt-2 col-md-8">
        <form action="/listings/<%= id%>?_method=DELETE" method="post">
          <button class="btn add_btn">Delete</button>
        </form>
      </div>
    </div>
    <%}%>
    
  </div>
</div>

<div class="col-5 offset-4">
  <hr />
  <%  if(currUser){ %>
  <form
    action="/listings/<%= data.id%>/review"
    method="post"
    novalidate
    class="needs-validation"
  >
    <h4 class="">Leave a review</h4>
    
    <!--  <input
        type="range"
        name="Review[rating]"
        id="rating"
        class="form-control"
        min="1"
        max="5"
        value="3"
        id="rating"
        
      />
      <label for="rating" class="form-label"> Rating </label>
      <output for="range4" id="rangeValue" aria-hidden="true"></output> 
    </div>  -->
    <div class="col-3">
     <label for="rating" class="form-label"> Rating </label>
    <fieldset class="starability-coinFlip">
  <input type="radio" id="no-rate" class="input-no-rate" name="Review[rating]" value="0" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="Review[rating]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="Review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="Review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="Review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="Review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>
</div>
    <div>
      <textarea
        name="Review[comment]"
        id="comment"
        class="form-control rows-5 cols-15"
        required
      ></textarea>
      <div class="invalid-feedback">please add valid feedback</div>
      <label for="comment" class="form-label">Comments</label>
    </div>
    <div>
      <button class="btn add_btn mb-2">Submit</button>
    </div>
  </form>
   <%}%>

  <div>

      <% for(review of data.reviews){ %>
         <div class="card mg-2">
            <div class="card-body ">
              
              <p card-text> @<%= review.owner.username%></p>
              <p class="card-text reviewComment ms-2"> <%=review.comment %> </p>              
              <p class="starability-result" data-rating="<%= review.rating%>"></p>         
              
              <form action="/listings/<%= data.id%>/review/<%= review._id %>?_method=DELETE" method="post">
                <button class="add_btn"> Delete</button>
              </form>             
            
            </div>
          </div>
      <% }%>

    </div>
    <div class="col-6 ">
      <h3>where you'll be </h3>
  <div id="map">
    
  </div>
  </div>
</div>



<script src="/js/map.js"></script>